{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
<div class="container-fluid header_blog">
    <h2 class="text-center align-middle">Tambah <span>matkul</span></h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group p-4 text-center">
                <form action="{% url 'story3:hapus_matkul' matkul.id %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md card-body">
                        <h4 class="text">Hapus {{matkul}} dari daftar?</h4>
                        <div class="d-flex justify-content-center pt-2">
                            <div class="px-2">
                                <a class="btn btn-secondary" href="{% url 'story3:liat_matkul' %}">Tidak</a>
                            </div>
                            <div class="px-2">
                                <input type="submit" class="btn btn-danger" value="Ya">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}