{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
<div class="container-fluid header_blog">
    <h2 class="text-center align-middle">Tambah <span>matkul</span></h2>
</div>
<div class="form-group p-4">
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{form.as_p}}
        <div class="d-flex justify-content-start">
            <div class="mr-2">
                <input type="submit" class="btn btn-primary" value="Submit"">
            </div>
            <div class="ml-2">
                <a href="{% url 'story3:liat_matkul' %}" class="btn btn-secondary">Kembali</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}